body {
    font-family: 'Segoe UI', sans-serif;
    background: #f9f9f9;
    margin: 0;
    padding: 20px;
    color: #333;
  }
  
  h1, h2 {
    color: #444;
  }
  
  a {
    color: #007BFF;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
  }
  
  hr {
    border: none;
    height: 1px;
    background: #ddd;
    margin: 20px 0;
  }
  
  button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 16px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .edit {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 16px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .edit:hover {
    background-color: #218838;
  }

  button:hover {
    background-color: #0056b3;
  }
  
  input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  